Elevator Pitch

Problem:
Cause:
Consequence:
Suggested Solution:
Downside:
Upside:
FIrst step:

Sign Post - 
"the problem is-"
"the reason for that is"
"the risk we run, the consequence"
"My suggest/solution is"

https://www.youtube.com/watch?v=1Uhljsxl0Lg



User Story

Acceptance Criteria