:root {
    --bg-color: #000; 
    --txt-color: #45199d;
    --pink: #f9049a
}

body {
    background-color: #EBDEF0 ;
    color: var(--txt-color);
}

#content-header img {
    width: 100%;
    height: fit-content;
    border-bottom: 25px solid;
    border-color: var(--bg-color);
    display: flex;
    background-size: cover;
    
}

.navbar * {
    font-family: 'Josefin Slab';
    color: #45199d;
}

.nav-link:hover {
    font-family: 'Josefin Slab';
    color: var(--pink);
}

#budget-header {
    display: flex;
    justify-content: center;
    margin: 0px;

}