:root {
    --bg-color: #000; 
    --txt-color: #fff;
    --pink: #f9049a
}

body {
    background-color: #EBDEF0 ;
    color: var(--txt-color);
}

#content-header img {
    width: 100%;
    height: 225px;
    border-bottom: 25px solid;
    border-color: var(--bg-color);
    display: flex;
    background-size: cover;
    
}

.navbar * {
    font-family: 'Josefin Slab';
}

